.bodyModalShow{
    margin-right: 30px;
    
}
.bodyModal{
    width: 310px;
    background-color: rgb(20, 20, 20,0.9);
    height: 98vh;
    position: fixed;
    display: flex;
    top:1px;
    left: 0px;
    z-index: 1000;
}
#Image{
    background-color: rgb(214, 12, 12);
}
.hiddenModal{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
      /* Cor de fundo com transparência */
    z-index: 0; /* Certifique-se de que está acima de outros elementos na página */
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
        
}
.Navs {
    color: white;
   
}

.Navs ul{
    display: flex;
    flex-direction: column;
    height: 70%;
    font-size: 20px;
}
.hiddenNav{
    height: 50px;
    width: 50px;
    margin-left: 8px;
    margin-top: 5px;
    font-size: 40px;
    border-radius: 50%;
    background-color: rgba(82, 78, 78, 0.9);
    text-align: center;
    cursor: pointer;
}
@media screen and (min-width: 800px) and (max-width: 950px) {
    .bodyModal {
        width: 35%;
       }
       
    }
    

@media screen and (min-width: 580px) and (max-width: 760px){
        .bodyModal {
            width: 45%;
           }
           
        }

@media screen and (max-width: 580px) {
 .bodyModal {
     width: 60%;
    }
}
  @media screen and (max-width: 480px) {
    .bodyModal {
        width: 65%;
       }
    }

@media screen and (min-height: 1000px) {
    .bodyModal {
       height: 1020px;
     }
           
}

   