
@font-face {
    font-family: 'fonte';
    src: url('/pro/SF-Compact-Rounded-Semibold.ttf') format('truetype');
    /* Adicione outros formatos de fonte se necessário */
  }
  .Loginbody{
    height: 100vh;
    background-color: white;
    display: fle;
    align-items: center;
    justify-content:center;
    
    
    
}
.login{
    width: 100%;
    height: 100%;
   
}
  