
.containerRenderPhoto{
  height: 97vh;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction:column;
  align-items: center;
}
.take_photo_container {
  background-color: white;
  display: flex;
  align-items: center;
  flex-direction:column;
  justify-content: space-around;
  align-items: center;
  height: 500px;
  width:400px ;
  border-radius: 10px;
  padding: 10px;
  box-sizing: border-box;

}
.play {
 display: inline-flex;
  flex-direction: column;
  background-color: white;
  margin-top: 0px;
   width: 100%;
   height: 470px;
  
}
.img{
  width: 100%;
  min-height: 300px;
  max-height: 300px;
  display: flex;
  align-items: center;
  background-color: aquamarine;
}
.video video {
  min-width: 100%;
  max-width: 100%;
  height: 300px;
}.video{
  padding: 1px;
  display: flex;
  align-items: center;
  width: 100%;
}

.streamButton {
  margin-top: 30px;
  background-color: rgb(166, 74, 228);
  text-transform: capitalize;
  border: 0ch;
  padding: 6px;
  color: rgb(255, 255, 255);
  font-family: "fonte";
  font-size: 1.2rem;
  border-radius: 6px;
  cursor: pointer;
  width: 100%;
}
.take_photo_containerButton{
  width: 100%;
  height: 100%;
  margin-top: 10px;
  display: flex;
  align-items: center;
  flex-direction:column;
  justify-content: space-around;
}
.streamButtonAbort{
  margin-top: 20px;
  background-color: rgb(102, 99, 104);
  text-transform: capitalize;
  border: 0ch;
  padding: 6px;
  color: rgb(255, 255, 255);
  font-family: "fonte";
  font-size: 1.2rem;
  border-radius: 6px;
  cursor: pointer;
  width: 100%;
}
.NewStreamButton {
  margin-top: 20px;
  background-color: rgb(228, 74, 133);
  text-transform: capitalize;
  border: 0ch;
  padding: 4px;
  color: rgb(255, 255, 255);
  font-family: "fonte";
  font-size: 1.2rem;
  border-radius: 6px;
  cursor: pointer;
  width: 100%;
}
.streamButtonSend{
  margin-top: 20px;
  background-color: rgb(74, 228, 125);
  text-transform: capitalize;
  border: 0ch;
  padding: 4px;
  color: rgb(255, 255, 255);
  font-family: "fonte";
  font-size: 1.2rem;
  border-radius: 6px;
  cursor: pointer;
  width: 100%;
}

@media   screen and (max-width:460px) {
  .take_photo_container{
    min-height: 600px;
    max-height: 90%;
    width: 95%;
    margin: 6px;
  }
  .img{
    max-width: 98%;
    height: 98%;
    padding: 2px;
    
  }
  .take_photo_containerButton {
    width: 100%;
   

  }
  .take_photo_containerButton button{
    max-width: 95%;
  }
  .play{
    min-height:597px;
  }
  
}