@font-face {
  font-family: "fonte";
  src: url("/pro/SF-Compact-Rounded-Semibold.ttf") format("truetype");
  /* Adicione outros formatos de fonte se necessário */
}

.Cadbodys {
  height: 100%;
  width: 680px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  box-sizing: border-box;
  background-color: white;
 
  border-radius: 10px;
  min-height: 560px;
  max-height: 560px;
 }
 .Cadbodys main {
  background-color: white;
  width: 500px;
  border: 0cap;
 }
 .Cadbodys main header {
  background-color: rgb(230, 35, 35);
  
 }
 .Cadbodys main input {
  color: black;
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: white;
  width: 45%;
 }

 .main {
 width: 560px;
 min-height: 500px;
 max-height: 500px;
  box-sizing: border-box;
 min-width: 40px;
}
.main .submit {
  height: 30%;
}
.cad_inputs {
  min-height: 300px;
  max-height: 300px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 10px;
  justify-content: space-around;
  background-color: white;

}


.addAdress_main {
  padding-top: 10px;
  min-height: 10px;
  max-height: 30px;
  width: 100%;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}
.addAdress_main::-webkit-scrollbar {
  width: 3px; /* Largura da barra de rolagem */
  height: 10px;
}
.addAdress_main::-webkit-scrollbar-track {
  background: #9b8383; /* Cor do fundo da barra de rolagem */
  max-height: 5px;
}
.addAdress_main::-webkit-scrollbar-thumb {
  background: rgb(34, 33, 33) 8; /* Cor do indicador da barra de rolagem */
  max-height: 5px;
}
.contanier_AddPic{
  height: 100%;
  display: flex;
  flex-direction: column-reverse;
}
.button_AddPic{
  background-color: rgb(166, 74, 228);
  text-transform: capitalize;
  border: 0ch;
  padding: 6px;
  color: rgb(255, 255, 255);
  font-family: "fonte";
  font-size: 1.2rem;
  border-radius:6px;
  cursor: pointer;
  width: 100%;
}
.contanier_Picture{
  width: 100%;
  margin-top: 10px;
  margin-left: 20px;
}
.content_inputs{
  display: flex;
  width: 100%;
  justify-content: space-between;
}


@media screen and (max-width: 640px) {
  .main {
    width: 97%;
    min-height: 95%;
    max-height: 95%;
    
    }
  .Cadbodys {
    margin-left: 12px;
    margin-right: 12px;
    margin-bottom: 10px;
    width: 95vw;
    min-height: 620px;
    max-height:620px;
   background-color: white;
   
   
   
  }
  .cad_inputs {
    width: 100%;
    min-height: 300px;
    max-height: 300px;
    border: 0ch;
  
  }
}
@media screen and (min-height: 1000px) {
  .main {
    height: 90%;
    width: 650px;
  }
}
