@font-face {
  font-family: "fonte";
  src: url("/pro/SF-Compact-Rounded-Semibold.ttf") format("truetype");
  /* Adicione outros formatos de fonte se necessário */
}

.Cadbody {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 0px;
}

.Cadbody main {
  height: 100%;
  display: flex;
  align-items: center;
  width: 100%;
  border-radius: 20px;
}
.form {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  border-radius: 3px;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  box-sizing: border-box;
  text-transform: capitalize;
}
.form input {
  background-color: transparent;
  border: 0px;
  max-width: 90%;
  margin-top: 20px;
  border-bottom: 1px solid rgba(116, 114, 114, 0.7);
  font-size: 1rem;
  font-family: "fonte";
  text-transform: capitalize;
  color: rgb(15, 15, 15);
}

.form input:focus {
  outline: none; /* Remove a borda de foco padrão (efeito de toque) */
  /* Adicione outros estilos desejados para o input focado, se necessário */
}

.form input::placeholder {
  color: #bebaba; /* Cor desejada para o placeholder */
}

.image input {
  border-bottom: 0;
}
.form h1 {
  text-align: center;
  margin: 5px;
}
.form header {
  align-items: center;
  text-align: center;
  margin: 5px;
  padding: 10;
  color: white;
  width: 95%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(250, 75, 12);
}

.submit {
 margin-top: 5px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  width: 90%;
 
}
.value {
  display: flex;
  height: 50px;
  width: 50px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.value button {
  background-color: rgb(112, 98, 194);
  margin: 0%;
  padding: 0px;
  font-size: 25px;
  color: blue;
  display: none;
}
.submit button {
  border: 0ch;
  padding: 6px;
  color: rgb(255, 255, 255);
  font-family: "fonte";
  font-size: 1.2rem;
  border-radius: 6px;
  cursor: pointer;
  width: 100%;
}
.loginButton {
  margin-right: 0px;
  background-color: rgb(250, 75, 12);
}
.loginButton4 {
  margin-right: 0px;
  background-color: rgb(172, 167, 165);
}
.CadastroButton {
  margin-top: 0px;
}

@media screen and (max-width: 900px) {
  .loginButton {
    width: 100%;
    background-color: rgb(172, 167, 165);
    height: 50px;
  }
  .submit {
    flex-direction: column;
    justify-content: space-around;
  }
  .form header {
    background-color: transparent;
  }
  .form input {
    background-color: white;
  }
  .value button {
    display: block;
  }
}
