@font-face {
  font-family: "fonte";
  src: url("/pro/SF-Compact-Rounded-Semibold.ttf") format("truetype");
  /* Adicione outros formatos de fonte se necessário */
}

.Cadbodys {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  box-sizing: border-box;
 
}
.main {
  min-height: 600px;
  max-height: 600px;
  width: 560px;
  background-color: white;
  box-sizing: border-box;
 
}
.cad_inputs input {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
}
.main .submit {
  height: 30%;
}
.cad_inputs {
  min-height: 300px;
  max-height: 400px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 10px;
  justify-content: space-around;
}
.addAdress_main {
  padding-top: 10px;
  min-height: 10px;
  max-height: 30px;
  width: 100%;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}
.addAdress_main::-webkit-scrollbar {
  width: 3px; /* Largura da barra de rolagem */
  height: 10px;
}
.addAdress_main::-webkit-scrollbar-track {
  background: #9b8383; /* Cor do fundo da barra de rolagem */
  max-height: 5px;
}
.addAdress_main::-webkit-scrollbar-thumb {
  background: rgb(34, 33, 33) 8; /* Cor do indicador da barra de rolagem */
  max-height: 5px;
}
.button_AddPic{
  margin-right: 0px;
  background-color: rgb(166, 74, 228);
  text-transform: capitalize;
  border: 0ch;
  padding: 6px;
  color: rgb(255, 255, 255);
  font-family: "fonte";
  font-size: 1.2rem;
  border-radius:6px;
  cursor: pointer;
  width: 100%;
}

@media screen and (max-width: 640px) {
  .main {
    width: 97%;
    min-height: 90%;
    max-height: 90%;
    background-color: white;
    
  }
  .Cadbodys {
    margin-left: 12px;
    margin-right: 12px;
    margin-top: 17px;
    width: 95vw;
    min-height: 500px;
    max-height:600px;
    background-color: rgb(145, 68, 68);
    background-color: white;
   
  }
  .cad_inputs input {
    width: 100%;
    height: 35px;
    border: 0ch;
  }
}
@media screen and (min-height: 1000px) {
  .main {
    height: 80%;
    width: 650px;
  }
}
