@font-face {
  font-family: 'MinhaFonte';
  src: url('/pro/SF-Compact-Rounded-Semibold.ttf') format('truetype');
  /* Adicione outros formatos de fonte se necessário */
}


body{
    overflow-x: hidden;
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
    font-family:'MinhaFonte' ;
    
  }


