@font-face {
    font-family: "MinhaFonte";
    src: url("/pro/SF-Compact-Rounded-Semibold.ttf") format("truetype");
    /* Adicione outros formatos de fonte se necessário */
  }
  
  .bodyEnter {
    position: absolute;
    background-color: white;
    height: 600px;
    width: 700px;
    display: flex;
    flex-direction: column;
    margin: 2px;
  }
  .bodyEnter main{
    background-color: white;
  }
  .bodyEnter header{
    background-color: rgb(230, 35, 35);
  }
  .move {
    height: 100%;
  }
  
  @media screen and (max-width: 880px) {
    .move {
      width: 100%;
      display: flex;
      flex-direction: column;
    }
    .bodyEnter {
     width: 98%;
    }
    
  }
 
  
  
  