@font-face {
    font-family: 'fonte';
    src: url('/pro/SF-Compact-Rounded-Semibold.ttf') format('truetype');
    /* Adicione outros formatos de fonte se necessário */
  }
  .portBody{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: orangered;
  }
 .port{
    height: 90%;
    width: 50%;
  }
  .password{
    width: 100%;
    
  }
  .password input {
    width: 100%;
  }
  .text{
    margin-left: 20px;
    margin-top: 10px;
  
  }
  .text span {
    font-size: 0.8rem;
    color: rgb(155, 150, 150);
  }
  
  
  
  @media screen and (min-width: 100px) and (max-width: 800px) {
    .port{
     
      width: 96%;
    }
  }

  @media screen and (min-width: 800px) and (max-width: 960px) {
    .port{
     width: 70%;
    }
  }