
@font-face {
    font-family: 'fonte';
    src: url('/pro/SF-Compact-Rounded-Semibold.ttf') format('truetype');
    /* Adicione outros formatos de fonte se necessário */
  }

  .bodyOptions{
    display: flex;
    margin-left: 5px;
    
   
    }
    .options{
      background-color: rgba(99, 97, 94, 0.7);
      padding: 5px;
      width: 97px;
      height: 140px;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      border-radius: 4px;

    }
    .options  .p{
      margin: 0%;
      padding: 0%;
      font-size: 1.1rem;
      cursor: pointer;
      border-bottom: 2px transparent; /* Adicione uma linha de borda inferior */
      padding-bottom: 10px; 
      
      
    }
    .options .p:hover {
      /* Altere a cor de fundo conforme necessário */
     border-bottom: 2px solid #95cbdb; /* Adicione uma linha de borda inferior */
     padding-bottom: 8px; /* Ajuste conforme necessário para dar espaço para a linha */
    }


    @media (max-width: 400px) {
      .options{
          
          width:100%;
          height: 200px;
      }
    }