.adress{
    display: flex;
    max-width: 100%;
    justify-content: space-between;
    background-colo:blue ;
}
.adress input {
    width: 100%;
    margin-bottom: 8px;
}
.addressAdd{
    display: flex;
    max-width: 100%;
    align-items: center;
}
.imgAddress{
    display: inline;
    align-items:flex-start;
    margin-left:30px ;
    background-colo: brown;
    height: 100%;
}
.addressArry{
    display: flex;
    flex-direction: column;
}