.adress {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}
.adress input {
  max-width: 43%;
  margin-bottom: 8px;
}
.lt_inputs {
  margin-right: 10px;
}
.addressAdd {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.imgAddress {
  display: inline;
  align-items: flex-start;
  margin-left: 30px;
  height: 100%;
 
}
.addressArry {
  display: flex;
  flex-direction: column;
}
