.nav{
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}
.nav ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    width: 100%;
    box-sizing: border-box;
    
}
.nav li {
    margin-right: 20px;
    list-style: none;
    cursor: pointer;
    border-bottom: 2px solid transparent; /* Adicione uma linha de borda inferior */
    padding-bottom: 8px;
    padding-top: 8px;
   
}
.nav li:hover {
     /* Altere a cor de fundo conforme necessário */
    border-bottom: 2px solid #95cbdb; /* Adicione uma linha de borda inferior */
    padding-bottom: 8px; /* Ajuste conforme necessário para dar espaço para a linha */
  }