@font-face {
  font-family: "MinhaFonte";
  src: url("/pro/SF-Compact-Rounded-Semibold.ttf") format("truetype");
  /* Adicione outros formatos de fonte se necessário */
}

.bodyEnter {
  position: absolute;
  background-color: white;
  height: 600px;
  width: 600px;
  display: flex;
  flex-direction: column;
  margin: 2px;
}
.Infomation {
  display: flex;
  flex-direction: column;
  min-height: 300px;
  max-height: 350px;
  justify-content: space-between;
  margin-bottom: 50px;
  width: 550px;
}
.conent_address{
  display: flex;
  background-color: white;
  max-height: 300px;
  overflow-y: auto;
  padding: 30px;
  border-radius: 10px;
  padding-bottom: 40px;
  
}
.adress_color{
  background-color: rgb(189, 84, 84);
  background-color: white;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  }
.conent_address::-webkit-scrollbar {
  width: 3px; /* Largura da barra de rolagem */
  height: 10px;
}
.conent_address::-webkit-scrollbar-track {
  background: #b33d3d; /* Cor do fundo da barra de rolagem */
  max-height: 5px;
}
.conent_address::-webkit-scrollbar-thumb {
  background:rgb(168, 158, 158)8; /* Cor do indicador da barra de rolagem */
  max-height: 5px;
}
.AddAddres_button{
  height: 100px;
  display: flex;
  align-items: flex-end;
}
.AddAddres_button button{
  background-color: rgb(134, 127, 230,0.6);
  text-transform: capitalize;
  border: 0cap;
  padding: 8px;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
  font-family: "MinhaFonte";
}

.conent_address input {
  border: 0pc;
  border-bottom: 1px solid rgb(131, 131, 134);
  height: 40px;
  outline: none;
  font-family: "MinhaFonte";
  font-size: 1rem;

}
.Infomation input {
  height: 34px;
  border: 0cap;
}
.Infomation p {
  margin: 5px;
  
  font-size: 1.2rem;
  
}
.p_Infomation{
  margin-top: 10px;
 margin-bottom: 10px;
 display: flex;
 justify-content:space-between;
 width: 400px;

}
#cod_p{
  width: 190px;
  word-break: break-all;
 
}
.move {
  height: 100%;
}
.maps {
  display: flex;
  margin-top: 3px;
  
}
.maps p {
  margin: 0px;
  margin-left: 20px;
  margin-bottom: 3px;
}
.continerMap {
 overflow-y: auto;
  width: 500px;
  min-height: 50px;
  max-height: 200px;
}
.button button {
  background-color: rgb(134, 127, 230,0.6);
  text-transform: capitalize;
  border: 0cap;
  padding: 8px;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
  font-family: "MinhaFonte";
}
.buttonOut{
  margin-left:20px ;
}
.buttonOut button {
  background-color: rgba(245, 102, 121, 0.6);
  text-transform: capitalize;
  border: 0cap;
  padding: 8px;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
  font-family: "MinhaFonte";
}

@media screen and (max-width: 580px) {
  .move {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .Infomation p {
    font-size: 1.2rem;
  }
  .Infomation {
    width: 80%;
  }
  .Infomation input {
    width: 80%;
  }
  .bodyEnter {
   width: 98%;
  }
  
}

@media screen and (max-width: 650px) {
  .adress_color{
    width: 90%;
    padding: 10px;
  }
  .conent_address{
    width: 100%;
    padding: 10px;
  }
  .conent_address input {
    width: 90%;
  }
  .p_Infomation{
    display: flex;
    flex-direction: column;
    width: 200px;
    
  }
  .Infomation {
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .bodyEnter {
    align-items: center;
    width: 90%;
  }
  .move{
    width: 80%;
    display: flex;
  }
  .continerMap {
    width: 100%;
    
  }
  
}
